pip install requests
pip install threading

Errors:
If threading doesn't install it means it has already been installed while downloading python (as a default module)

HELP!
--> https://discord.gg/MwQCUE4xTB <--

Ish#9969